/* For Tablets */
@media all and (max-width: 1000px) {
  .project h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .name{
    font-size: 10px;
  }
  .name p{
    font-size: 15px;
  }
  .about{
    font-size: 11px;
    padding-top: 25px;
  }
  .facebook {
    margin-bottom: 10px;
  }
  
  .project {
    text-align: left;
  }
  
  
<<<<<<< HEAD
  .h1 {
=======
  . h1 {
>>>>>>> c85cc9b6220ecc047bd134ec5b4917d4983fc6dc
    font-size: 24px;
    line-height: 36px;
  }
  
  .project p {
    font-size: 14px;
    line-height: 20px;
  }
}